<!-- Self-hosted Noto Serif JP -->
<style>
  @font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/NotoSerifJP-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/NotoSerifJP-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/NotoSerifJP-Bold.woff') format('woff');
  }
  
  /* Apply the font */
  body {
    font-family: 'Noto Serif JP', 'MS Mincho', 'Shippori Mincho', 'Hina Mincho', 'SimSun', serif !important;
  }
</style>
